.content {
	.box-wrapper {
		.text-verified {
			padding-top: 10px;
		    padding-bottom: 30px;
		}
		.text-lcid {
			padding-bottom: 15px;
		}
		.unique-lcid {
		    font-size: 25px;
		    color: #018abe;
		    padding-bottom: 10px;
		}
		.btn-next {
			margin-bottom: 10px;
		}
	}
}
